[class^=icon-] {
  display: block;
  width: 15px;
  height: 25px;
  background: url('../icons/sprite.svg');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all .2s;
  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}





.icon-instagram {
  background-position: -31px -24px;
}

.icon-facebook {
  background-position: 0 68px;
}

.icon-spotify {
  background-position: -62px -24px;
}
