header {
  transform: translateY(-15%);
  background-image: url("../images/stars2.jpg");
  background-size: cover;


}


main {
  min-height: 100vh;

}

body {
  background-color: #eeeee0;
}

.home-text{
  margin: 0 .5em;
  text-align: center;
}



.about,
.music,
.booking {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  transform: translateX(100%);
  background-color: #eeeee0;
  border: 1px solid #1f1f14;
  border-radius: 8px;
  & p {
    margin: 0 .5em;
    text-align: center;
  }

}



.show {
  display: block;

}

.close {
  font-family: 'Roboto Condensed','Cinzel Decorative', 'Julius Sans One','Alegreya Sans SC',
  'Open Sans', $helvetica-font-stack;
  font-weight: 100;
  color: #1f1f14;
  display: inline;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

.music-player {
  height: 350px;
  width: fit-content;
  border-radius: 15px;
  box-shadow: 1px 1px 5px $black;
  @extend %center;
  margin-bottom: 2em;
  & iframe {
    border-radius: 15px;
    box-shadow: 1px 1px 5px $black;
    width: 100%;
    height: 100%;

  }
}



footer {
  color: $white;
  width: 100%;
  height: 35px;
  background: #1f1f14;
  border-radius: 75% 75%/ 160% 160% 0px 0px;
  @include flexy(flex,column);
  position: relative;
  bottom: 0px;
  & a {
    transition: all .3s;
  }
}


body {
  background: #ffffff;

}




.module {
  width: 400px;
  position: relative;
  transform: translateY(35%) scale(.8);
  transition: all .5s cubic-bezier(0.42, 0, 0.58, 1);
  @extend %center;
  padding: 15px 55px;
  box-sizing: padding-box;
  position: relative;
  border-right: 1px solid $white;
  border-top: 1px solid $white;
  border-left: 1px solid $white;
  @include mq(medium){
    transform: translateY(35%) scale(1);
  };
}

.module__top {
  cursor: move;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: -7px;
  left: 0;

  &:before {

    display: block;
    content: "";
    flex: 2 0 0;

    border-top: 1px solid $white;
  }
  &:after {

    display: block;
    content: "";
    flex: 2 0 0;

    border-top: 1px solid $white;
  }
}

.top__content {
  height: 26px;
  color: $white;
  font: 12px/32px Helvetica;
  font-weight: bold;
  overflow: hidden;
  flex: 0 0 65px;
  margin-top: -18px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.module__contents {
  text-align:center;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0px;
}
