header {
  transform: translateY(-15%) skewY(-2deg);
  background-image: url("../images/stars2.jpg");
  background-size: cover;
  height: 220px;
  @include mq(medium) {
    height: 15em;
  }
  @include mq(large) {
    height: 20em;
  }
}




body {
  transition: all .5s cubic-bezier(0.42, 0, 0.58, 1);
  background-color: $black;
}

.home-content{
  margin: 0 .5em;
  text-align: center;
  z-index: 0;
}

.intro {
  font-size: 16px;
  width: 75%;
  margin: 0 auto;
  @include mq(medium) {
    font-size: 20px;
  }
}



.about,
.music,
.booking {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  transform: translateX(100%);
  background-color: rgba(0,0,0,.9);
  color: $white;
  border: 1px solid $white;
  border-radius: 8px;
  overflow: scroll;
  padding-bottom: 40px;
  z-index: 1000;
  & p {
    @extend %center;
    text-align: center;
    width: 75%;
  }
  & a {
    @include link-reset($black, 'Raleway');
    text-align: center;
    text-decoration: underline;
    display: block;
    width: fit-content;
    @extend %center;
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 10px;
    background-color: $white;
    border-radius: 9px;
    margin-top: 12px;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);

    }
  }
}



.show {
  display: block;

}

.close {
  font-family: 'Roboto Condensed','Cinzel Decorative', 'Julius Sans One','Alegreya Sans SC',
  'Open Sans', $helvetica-font-stack;
  font-weight: 100;
  color: $white;
  display: inline;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 0px;
  cursor: pointer;
  text-align: left !important;
}

.music-player {
  height: 300px;
  width: 90%;
  border-radius: 15px;

  @extend %center;
  margin-top: 2em;
  & iframe {


    width: 100%;
    height: 100%;

  }
}



footer {
  color: $white;
  width: 100%;
  height: 40px;
  @include flexy(flex,column);
  position: relative;
  bottom: 0px;
  & a {
    transition: all .3s;
  }
}



main {
  margin-bottom: 2em;
  height: 100%;
}




.module {
  width: 400px;
  position: relative;
  transform: translateY(35%) scale(.8) skewY(2deg);
  transition: all .5s cubic-bezier(0.42, 0, 0.58, 1);
  @extend %center;
  padding: 15px 55px;
  box-sizing: border-box;
  position: relative;
  border-right: 1px solid $white;
  border-top: 1px solid $white;
  border-left: 1px solid $white;
  @include mq(medium){
    transform: translateY(35%) scale(1) skewY(2deg);
  };
}

.module__top {
  cursor: move;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: -7px;
  left: 0;

  &:before {

    display: block;
    content: "";
    flex: 2 0 0;

    border-top: 1px solid $white;
  }
  &:after {

    display: block;
    content: "";
    flex: 2 0 0;

    border-top: 1px solid $white;
  }
}

.top__content {
  height: 26px;
  color: $white;
  font: 12px/32px Helvetica;
  font-weight: bold;
  overflow: hidden;
  flex: 0 0 65px;
  margin-top: -18px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.module__contents {
  text-align:center;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0px;
}

.stop-scrolling {
  overflow-y: hidden;

}

//video styling

#player,
.video-stream {
  max-width: 100%;


}
