header {
  transform: translateY(-15%);
  & h1,
  & p {
    border: 2px solid rgba(255,255,255,.7);
    background-color: #1f1f14;
    @extend %center;

  }
  & h1 {
    padding: 5px 55px;
    width: fit-content;
    @extend %center;
    transform: translateY(50%) scale(.7);
    @include mq(medium){
      transform: translateY(50%);
    }

  }
  & p {
    padding: 5px 15px;
    z-index: 2;
    transform: translateY(30%) scale(.7);
    @include mq(medium){
      transform: translateY(60%);
    }

  }

}


main {
  min-height: 100vh;
}

body {
  background-color: #eeeee0;
}

.about,
.music,
.booking {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  transform: translateX(100%);
  background-color: #eeeee0;
  border: 2px solid #1f1f14;
}



.show {
  display: block;
}

.close {
  font-family: 'Roboto Condensed','Cinzel Decorative', 'Julius Sans One','Alegreya Sans SC',
  'Open Sans', $helvetica-font-stack;
  font-weight: 100;
  color: #1f1f14;
  display: inline;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 0px;
  cursor: pointer;
}


footer {
  color: $white;
  width: 100%;
  height: 35px;
  background: #1f1f14;
  border-radius: 75% 75%/ 160% 160% 0px 0px;
  @include flexy(flex,column);
  position: relative;
  bottom: 0px;
  & a {
    transition: all .3s;
  }
}
