
header {
  background-color: #1f1f14;
  width: 100%;
  height: 190px;
  display: block;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% / 0% 0% 96% 96%;
  & h1 {
    text-align: center;
    transform: translateY(85%);
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

  }
  & p {
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  }

}

#nav-icon {
  display: inline-block;
  cursor: pointer;
  @extend %center;
  transform: translateY(50%);
}



nav {
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  @extend %center;
  opacity: 0;
  pointer-events: none;
  cursor: inherit;
  & li {
    transition: transform 2s ease-in;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin-bottom: 1em;
    margin: 0;
    margin: 8px;

  }
}

.changeNav {
  opacity: .7;
  cursor: pointer;
  pointer-events: auto;

}



.social-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  transform: scale(.6);
  opacity: .7;

}
