
header {
  width: 100%;
  height: 190px;
  display: block;

  @include mq(medium){
    height: 250px;
    transform-origin: left bottom;


  }

  & h1 {
    text-align: center;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

  }
  & p {
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  }

}

#nav-icon {
  display: inline-block;
  cursor: pointer;
  @extend %center;
  
}



nav ul {
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  @extend %center;
  opacity: 0;
  pointer-events: none;
  cursor: inherit;
  transform: skewY(2deg);
  @extend %center;
  & li {
    transition: transform 2s ease-in;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin-bottom: 1em;
    margin: 0;
    margin: 8px;

  }
}

.changeNav {
  opacity: .7;
  cursor: pointer;
  pointer-events: auto;

}



.social-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding-left: 20px;
  max-width: 800px;
  margin-bottom: 1em;
  & li {
    margin-right: 15px;
  }

}
