
nav {
  font-family: $helvetica-font-stack;
  font-weight: $font-weight--thin;
  letter-spacing: 1.5px;
  & li a {
    color: $white;
  }

}

header {
  @include flexy(flex, column, null, center);
  color: rgba(255,255,255,.7);
  & h1 {
    font-family: 'Roboto Condensed','Cinzel Decorative', 'Julius Sans One','Alegreya Sans SC',
    'Open Sans', $helvetica-font-stack;
    font-weight: $font-weight--thin;

  }
  & p {
    font-family: 'Roboto Condensed','Cinzel Decorative', 'Julius Sans One','Alegreya Sans SC',
    'Open Sans', $helvetica-font-stack;
    font-size: 10px;
  }
}
