* {
  box-sizing: border-box;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}
